<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	<insert id="user_register" useGeneratedKeys="true" keyProperty="user_seq" parameterType="com.ld.user.vo.UserVO">
		insert into user_table(user_id, user_password, user_name, user_phone1, user_phone2, user_phone3, user_parentphone1, user_parentphone2, user_parentphone3, user_email, user_birth, user_school, user_grade, user_agree, user_date)
		values(#{user_id}, hex(aes_encrypt(#{user_password}, SHA2('bockgipoog541354',256))), #{user_name}, #{user_phone1}, #{user_phone2}, #{user_phone3}, #{user_parentphone1}, #{user_parentphone2}, #{user_parentphone3}, #{user_email}, #{user_birth}, #{user_school}, #{user_grade}, 1, now());
	</insert>
	<select id="getUser" resultType="com.ld.user.vo.UserVO" parameterType="String">
		SELECT * FROM user_table where user_id = #{user_id} and CONVERT(AES_DECRYPT(unhex(user_password), SHA2('bockgipoog541354',256)) USING utf8) = #{user_password};
	</select>
	<select id="loginCheck" resultType="String">
		Select * from user_table where user_id = #{user_id} and CONVERT(AES_DECRYPT(unhex(user_password), SHA2('bockgipoog541354',256)) USING utf8) = #{user_password};
	</select>
</mapper>